/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Container styles */
.plans-container {
    padding: 20px;
}

/* Title styles */
.plans-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

/* Form styles */
.add-plan-form {
    margin-bottom: 20px;
    text-align: center;
    background-color: #ccc;
    width: 700px;
    border-radius: 5px;
    margin-left: 370px;
}

.form-title {
    font-size: 24px;
    margin-bottom: 15px;
    padding-top: 10px;
}

.form-input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #45a049;
}

/* List styles */
.plans-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(25% - 20px);
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.plan-item:hover {
    transform: scale(1.05);
}

/* Plan text styles */
.plan-text {
    text-align: center;
}

.plan-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 18px;
    margin-bottom: 10px;
}

.plan-time {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Button styles */
.view-details-button, .buy-now-button, .edit-button, .delete-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.view-details-button {
    background-color: #2196F3;
    color: white;
}

.view-details-button:hover {
    background-color: #1976D2;
}

.buy-now-button {
    background-color: #4CAF50;
    color: white;
}

.buy-now-button:hover {
    background-color: #45A049;
}

.edit-button {
    background-color: #FF9800;
    color: white;
}

.edit-button:hover {
    background-color: #FB8C00;
}

.delete-button {
    background-color: #F44336;
    color: white;
}

.delete-button:hover {
    background-color: #E53935;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .plan-item {
        width: calc(50% - 20px); /* Adjusts width for tablets and larger phones */
    }
}

@media (max-width: 768px) {
    .plan-item {
        width: calc(100% - 20px); /* Adjusts width for smaller tablets and phones */
    }

    .plans-list {
        flex-direction: column;
        align-items: center;
    }
}
