/* Profile.css */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.profile-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    background-color:#fff ;
}

.profile-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.profile-edit {
    margin-bottom: 20px;
}

.profile-edit h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.profile-edit input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.profile-edit button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-edit button:hover {
    background-color: #007BFF;
    color: #fff;
}

.logout-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background: transparent;
    color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
    background-color: #007BFF;
    color: #fff;
}
