body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.signup-container img {
    width: 565px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.Signup {
    width: 350px;
    padding: 30px 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 50px;
    opacity: 1px;
}

.Signup h1 {
    padding-right: 40px;
    text-align: center;
    padding-bottom: 20px;
    color: #333;
}

.Signup form {
    display: flex;
    flex-direction: column;
}

.Signup label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

.Signup input[type='text'],
.Signup input[type='email'],
.Signup input[type='password'] {
    margin-top: 10px;
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Signup input[type='submit'] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.Signup input[type='submit']:hover {
    background-color: #45a049;
}

.Signup p {
    margin-top: 20px;
    text-align: center;
}

.Signup p span {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}